.cli-window{
    height: 100%;
    width: 100%;
    background-color: #242323;
    padding-bottom: 3rem;

    div[name="react-console-emulator"]{
        height: 100%;
        font-size: 2rem;
        padding-bottom: 10rem;
        background-color: transparent !important;
    }
}