.cards{
    overflow: auto;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 10rem;

    .card{
        flex-grow: 1;
        flex-basis: 20rem;

        max-width: 25rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;

        background-color: #413636;
        border-radius: 1rem;

        color: papayawhip;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        height: 40rem;

        img{
            width: 100%;
            border-radius: 1rem;
        }

        h1{
            font-size: 1.5rem;
            font-weight: 500;
        }

        .description{
            opacity: 0.7;
            word-spacing: 0.4rem;
            line-height: 1.3rem;
        }

        .tags{
            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;
            .tag{
                background-color: #076470;
                width: fit-content;
                padding-inline: 1.25rem;
                padding-block: 0.75rem;
                border-radius: 0.75rem;

                p{
                    white-space: nowrap;
                }
            }
        }

        .urls{
            display: flex;
            gap: 1rem;
            a{
                color: white;
            }
        }
    }
}