.dock{
    display: flex;
    gap: 0.85rem;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translatex(-50%);

    background-color: rgb(63, 63, 63);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;

    backdrop-filter: blur(50px);

    .icon{
        padding: 0.65rem;
        border-radius: 0.35rem;
        display: flex;
        justify-content: center;
        aspect-ratio: 1/1;
        width: 4rem;

        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

   .github{
        background-color: #000000;
    }

    .mail{
        background: linear-gradient(to bottom, #6ec6ff, #1e88ff);
    }

    .link{
        background: linear-gradient(to bottom, #9aa0a6, #5f6368);
    }

    .spotify{
        background-color: #1DB954;
    }

    .note{
        background: linear-gradient(to bottom, rgb(255, 179, 87), rgb(255, 153, 28));
    }

    .pdf{
        background: linear-gradient(to bottom, #ff6b6b, #d32f2f);
    }

    .calendar{
        background: linear-gradient(to bottom, #ff5f57, #d32f2f);
    }

    .cli{
        background: linear-gradient(to bottom, #3a3a3a, #000000);
    }

    .icon:hover{
        transform: scale(1.3)  translateY(-20%);
    }

    .icon:hover + .icon, 
    .icon:has(+ .icon:hover){
        transform: scale(1.1) translateY(-10%);
    }
    
}






