.nav{
    width: 100%;
    color: white;

    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #9e9e9e4e;

    backdrop-filter: blur(10px);

    display: flex;
    justify-content: space-between;


    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    .left, .right{
        display: flex;
        gap: 1rem;
    }
}
